name: Run cfwheels test suite
on:
    workflow_dispatch:
      inputs:
        compile:
          required: false
          description: Compile CFML before running tests
          default: false
          type: boolean
        java_versions:
          required: false
          description: Java Versions (json)
          default: '[ 21, 11 ]'
          type: string
        lucee_versions:
          required: false
          description: Lucee Versions (json)
          default: '[ "7.0/snapshot/jar", "6.2/snapshot/jar" ]'
          type: string
    workflow_call:
jobs:
  setup-cfwheels:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout cfwheels Repository
      uses: actions/checkout@v4
      with:
        repository: cfwheels/cfwheels
    - name: Checkout lucee-testlab
      uses: actions/checkout@v4
      with:
        path: _custom
    - name: Copy custom test runner tweaks
      run: |
        cp -R _custom/custom/cfwheels/tests/. tests/
        ls -la tests/
        rm -rf _custom
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: 'temurin'
    - name: Install the ortus security key
      run: curl -fsSl https://downloads.ortussolutions.com/debs/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/ortussolutions.gpg > /dev/null

    - name: Add the commandbox source
      run: echo "deb [signed-by=/usr/share/keyrings/ortussolutions.gpg] https://downloads.ortussolutions.com/debs/noarch /" | sudo tee /etc/apt/sources.list.d/commandbox.list

    - name: Update apt and install commandbox
      run: sudo apt-get update && sudo apt-get install apt-transport-https commandbox

    - name: Install TestBox dependency
      run: |
        cd core/src/wheels && box install verbose=true system=false
        ls -la testbox/
    - name: Upload webroot for matrix steps
      uses: actions/upload-artifact@v4
      with:
        name: webroot
        include-hidden-files: true
        path: ${{ github.workspace }}

  run-cfwheels-tests:
    name: cfwheels CI
    runs-on: ubuntu-latest
    needs: [ setup-cfwheels ]
    strategy:
      fail-fast: false
      matrix:
        luceeVersion: ${{ fromJSON(github.event.inputs.lucee_versions) }}
        javaVersion: ${{ fromJSON(github.event.inputs.java_versions) }}
        exclude:
            - luceeVersion: 5.4/snapshot/jar
              javaVersion: 21
            - luceeVersion: 5.4/snapshot/jar
              javaVersion: 24
    env:
        luceeVersionQuery: ${{ matrix.luceeVersion }}
        compile: ${{ github.event.inputs.compile }}
    steps:
      - name: Restore pre-prepared webroot
        uses: actions/download-artifact@v4
        with:
          name: webroot
          path: ${{ github.workspace }}
      - name: Set up JDK ${{ matrix.javaVersion }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.javaVersion }}
          distribution: 'adopt'
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
            path: ~/.m2
            key: maven-cache
      - name: Cache Lucee files
        uses: actions/cache@v4
        with:
            path: /home/runner/work/_actions/lucee/script-runner/main/lucee-download-cache
            key: lucee-downloads
      - name: Set up MySQL
        run: |
            sudo systemctl start mysql
            mysql -e 'CREATE DATABASE wheelstestdb' -uroot -proot
            mysql -e 'CREATE USER "wheels"@"localhost" IDENTIFIED WITH mysql_native_password BY "wheels";' -uroot -proot
            mysql -e 'GRANT ALL PRIVILEGES ON wheelstestdb.* TO "wheels"@"localhost"' -uroot -proot
      - name: Show test directory structure
        run: |
            ls -la tests/
      - name: Run cfwheels Test Suite
        uses: lucee/script-runner@main
        with:
            webroot: ${{ github.workspace }}
            execute: /tests/runtests.cfm
            luceeVersionQuery: ${{ env.luceeVersionQuery }}
            compile: ${{ env.compile }}
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: results-${{ strategy.job-index }}
          path: ${{ github.workspace }}/tests/artifacts
